<%= turbo_frame_tag todo do %>
  <div class="todo">
    <%= link_to todo.summary, todo_path(todo) %>
    <div class="todo__actions">
      <%= button_to "Done",
                    todo_path(todo),
                    method: :delete,
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  edit_todo_path(todo),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
